*{
    background-color: azure;
}
.main_container{
    display: flex;

}
.templates{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.template{
    display: flex;
    flex-direction: column;
}
.template_img{
    width:100PX;
}
.form{
    display: flex;
    flex-direction: column;
}
input,textarea{
    width:300PX;
    border-radius: 5px;
    padding-left: 10px;
    border: 2px solid rgb(13, 12, 12);
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
.Upload{
    display: flex;
    
}
.groupField{
    display: flex;
    flex-direction: row;
}
h1{
    align-items: center;
}